*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

html{
    background-color: #fffaed;
}

.genLayout{
    max-width: 1100px;
    margin: auto;
}

header, nav{
    background: linear-gradient(90deg, #fffaed 42.15%,#f8dd44 42.15%);
}

nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.innerNav{
    padding-block: 16px;
    display: flex;
    justify-content: space-between;
}

.navLeft{
    width: 120px;
    height: 45px;
    /* border: red 1px solid; */
}
.navLeft > img{
    width: 100%;
    height: 100%;
}

.hamburger, #toggle{
    display: none;
}


.navRight{
    /* border: green 1px solid; */
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.btnStyle{
    background-color: #e94f37;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    padding: 16px 25px;
}

.navLinks{
    padding-top: 16px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    /* border: 1px red solid; */
}
.navLinks > a{
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    /* border: 1px rgb(0, 255, 102) solid; */
}

.hero{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.heroText{
   width: 40%;
    /* border: blue 1px solid;  */
}
.heroText > h1{
    text-transform: capitalize;
    font-size: 40px;
    width: 400px;
}
.heroText > p{
    width: 400px;
    margin-block: 1rem ;
}
.heroText > button{
    width: fit-content;
}

.heroImage{
    width: 65%;
    height: 80vh;
}
.heroImage > img{
    width: 100%;
    height: 100%;
    border-radius: 0 8px 0 0;
}

#bio{
    padding-block: 48px;
    background-color: #08605f;
}
.theBios{
    display: flex;
    gap: 16px;
}
.his1{
    color: #fff;
}

.his1 > h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}
.his1 > p{
    font-size: 12px;
}

.history{
    /* border: 2px solid greenyellow; */
    background-color: grey;
    max-width:100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
    gap: 2rem;
}

.icon{
    background-color: antiquewhite;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 55%;
    border-radius: 60%;
    margin-top: 4rem;
    margin-left: 7.2rem;
}
.icon>i{
    font-size: larger;
}

#pros{
    position: relative;
    overflow: hidden;
}

.proSec{
    justify-content: space-between;
    /* border: red solid; */
    display: flex;
    gap: 20px;
    margin-top: 80px;
}

.proCardStyle{
    background-color: #fff;
    width: 410px;
    height: auto;
    padding: 36px 12px;
    border-radius: 4px;
    /* border: blue solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;    
    gap: 20px;
}
.proCard1 > span{
    background-color: #fbdcd7;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(244, 244, 244) .7px solid;
    width: 100px;
    height: 100px;
}

.proCard1 > span > i{
    color: #e84c35;
    font-size: 50px;
}

.proCard2 > span > i{
    color: #237170;
    font-size: 50px;
}
.proCard2 > span{
    background-color: #cee0e0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(244, 244, 244) .7px solid;
    width: 100px;
    height: 100px;
}

.proCard3 > span > i{
    color: #fddf3f;
    font-size: 50px;
}
.proCard3 > span{
    background-color: #fef8d8;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(244, 244, 244) .7px solid;
    width: 100px;
    height: 100px;
}

.proCardText{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.btn{
    background-color: #fff;
    color: #08605f;
    border: 1px solid #08605f;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    padding: 12px 20px;
    width: fit-content;
}

#activities{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 80px;
    /* border: red 1px solid; */
}

.recentCards{
    overflow: hidden;
    /* border: red 1px solid; */
    display: flex;
    gap: 32px;
}
.recentCard{
    background-color: #fff;
    padding-left: 12px;
    width: fit-content;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    /* border: solid 1px rgb(0, 255, 60); */
}

.recentText{
    /* border: pink solid; */
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 220px;
}
.recentText > h3{
    font-weight: bold;
    font-size: 22px;
}

.recentImage{
    /* border: blue solid 1px; */
    position: relative;
    width: 300px;
    height: 45vh;
}
.recentImage > img{
    border-radius: 0 8px 8px 0;
    width: 100%;
    height: 100%;
}

.ImageText{
    color: #bfbdbd;
    background-color: #2f2f31;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100px;
    height: 37px;
    margin-top: 280px;
    /* border: green solid 1px; */
}
